<div class="parallax">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Willkommen ! (っ◕‿◕)っ</h1>
      <p>Un endroit où clavarder (ou pas) et commèrer (non plus).</p>
      <p>ASCII Art de <%= link_to 'Asky', "https://asky.io/" %></p><br>

          <% if logged_in? %>
            <a href="<%= new_gossip_path %>" class="btn btn-lg btn-outline-info btn-block">Nouveau gossip</a>
            <br>
          <% end %>

    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid marketing" id="gossips">
      <div class="col-xs-1 center-block">
        <div class="card-columns">

      <% @gossips.each do |gossip| %>

        <div class="animated wow fadeIn">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= gossip.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= link_to gossip.user.first_name + ' ' + gossip.user.last_name, user_path(gossip.user.id) %></h6>
              <p class="card-text"><%= gossip.content[0..50].gsub(/\s\w+\s*$/, ' ...') %></p>
              <%= link_to "plus", gossip_path(gossip.id), :class => "btn btn-secondary" %>   
            </div>
          </div>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>

