<!-- google : how to verticaly center div bootstrap -->
<br><br><br><br><br> <!-- me -->
<div class="container theme-showcase" role="main">
<div class="jumbotron">
<div class="card">
  <div class="card-header">
    <%= @gossip.title %><br>  
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @gossip.content %></p>
    <footer class="blockquote-footer"><%= link_to @gossip.user.first_name + ' ' + @gossip.user.last_name, user_path(@gossip.user.id) %>, from <i><%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %></i></footer>

    </blockquote>

    <br><br>
    <div class="container">

      <% @gossip.comments.each do |comment| %>
        <div class="card w-75">
          <div class="card-body">
            <h5 class="card-title"><%= comment.author.first_name %></h5>
            <p class="card-text"><%= comment.content %></p>
          </div>
        </div>
      <% end %>
      


      <% if logged_in? %>

        <%= form_tag url_for(controller: 'comments', action: 'create', id: @gossip.id, gossip_id: params[:id]), method: 'post' do %>

        <%= label_tag 'Commentaire :' %>
        <%= text_field_tag 'content' %>
        <br>

        <input type="hidden" name="author_id" value=<%= current_user %> >
        <input type="hidden" name="gossip_id" value=<%= @gossip.id %> >

        <%= submit_tag "Ajouter un commentaire" %>

        <% end %>
      </div>
      <br>
      
          <% if is_owner?(@gossip) %>
            <%= link_to 'Éditer', edit_gossip_path(@gossip.id), :class => "btn btn-primary" %>

            <%= link_to 'Supprimer', gossip_path(@gossip.id),
              :method => 'delete', :class => "btn btn-secondary", :confirm => "Sûr ?" %>
          <% end %>

      
      <%= link_to 'Plussoyer', like_gossip_path(@gossip.id), :method => 'post', :gossip_id => @gossip.id, :comment_id => @gossip.comments.id %>




    <% end %>
  </div>
</div>
</div>
</div>